@use "light/theme" as *;
@use "dark/theme" as *;

:root {
    --border-radius: 5px;
}

:root:not([data-theme="dark"]) {
    @include theme-light;
}

:root[data-theme="dark"] {
    @include theme-dark;
}

@media (prefers-color-scheme: dark) {
    :root[data-theme="auto"] {
        @include theme-dark;
    }
}
