<head>
    {% if site.google_analytics %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-79DYV0G4VG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

    <title>{{ include.title }}</title>
    {% if include.description %}<meta name="description" content="{{ include.description }}">{% endif %}

    <meta property="og:title" content="{{ include.title }}" />
    <meta property="og:description" content="{{ include.description }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    
    {% include styles.html %}
</head>
