@mixin colors-light {
    // --page-bg-color: rgb(216, 226, 236);
    --page-bg-color: #f0f0f0;
    --page-bg-darker-color: #bdc7d0;
    --content-bg-color: white;
    // --qoute-bg-color: #f4f4f4;
    --tr-0-bg-color: rgb(74 153 255 / 20%);
    --tr-1-bg-color: transparent;
    
    --accent-color: rgb(74, 153, 255);
    --accent-color-transparent: rgb(74, 153, 255, 30%);
    --accent-color-darker: rgb(48, 108, 185);
    --muted-color: rgb(130, 130, 130);
    --text-muted: var(--muted-color);
    --nav-marker-color: var(--accent-color);
    --nav-link-color: var(--text-main);
    --nav-home-link-color: white;
    --table-border-color: var(--accent-color-darker);

    --background-body: var(--page-bg-color);
    --background: #e0e0e0;
    --button-base: var(--background);
    --text-main: #444; // Body and header links
    --text-bright: #444; // Headings
    --selection: #1c76c540;
}

@mixin colors-dark {
    --page-bg-color: #1a1a1a;
    --page-bg-darker-color: rgb(5, 21, 32);
    --content-bg-color: #191919;

    // --page-bg-color: #303030;
    // --page-bg-darker-color: rgb(5, 21, 32);
    // --content-bg-color: #1a1a1a;

    --accent-color-darker: rgb(79, 139, 217);
    --muted-color: #888;
    --nav-marker-color: var(--accent-color);

    --scrollbar-thumb: var(--accent-color-darker);
    --background: #2d2d2d;
    --button-base: var(--background);
    --button-hover: #4d4d4d;
    --text-main: #dddddd;
    --text-bright: #dddddd;
    --selection: #30485ed0;
    
    --code: white;
    --border: var(--muted-color);
}
