@mixin light-comments {
    #comments-container-light {
        display: block;
    }
    
    #comments-container-dark {
        display: none;
    }
}

@mixin dark-comments {
    #comments-container-light {
        display: none;
    }
    
    #comments-container-dark {
        display: block;
    }
}

:root {
    @include light-comments;
}

:root[data-theme="dark"] {
    @include dark-comments;
}

@media (prefers-color-scheme: dark) {
    :root[data-theme="auto"] {
        @include dark-comments;
    }
}
