@media (max-width: 600px) {
    :root {
        --content-horizontal-padding: 1rem !important;
    }

    body {
        padding: 0;
    }

    nav > ul {
        flex-direction: column;

        li {
            margin-left: 25px !important;

            a {
                padding: 0.3em 0 !important;
            }
        }
    }

    span.cmd {
        display: inline !important;
    }
}

@media (max-width: 750px) {
    footer {
        flex-direction: column !important;

        .surprise {
            // Oops! You found an easter egg.
            display: block !important;
        }
    }
}
