@media (max-width: 600px) {
    :root {
        --content-horizontal-padding: 1rem;
    }

    body {
        padding: 0;
    }

    nav > ul {
        flex-direction: column;

        li {
            margin-left: 1em !important;
        }
    }
    
    footer {
        flex-direction: column;

        > a {
            // Oops! You found an easter egg.
            display: block !important;
        }
    }
}
