@use "syntax-dark" as *;

@mixin colors-dark {
    --page-bg-color: #1a1a1a;
    --content-bg-color: #141414;

    --tr-0-bg-color: rgb(74 153 255 / 20%);
    --tr-1-bg-color: transparent;
    --table-border-color: var(--accent-color-darker);
    
    --accent-color: rgb(74, 153, 255);
    --accent-color-transparent: rgb(74, 153, 255, 30%);
    --accent-color-darker: rgb(79, 139, 217);
    --muted-color: #888;

    --nav-home-link-color: white;
    --nav-link-color: var(--text-main);
    --nav-marker-color: var(--accent-color);

    --background-darker: #222222;
    
    --background-body: var(--page-bg-color);
    --background: #2d2d2d;
    --border: #444;
    --button-base: var(--background);
    --button-hover: #4d4d4d;
    --text-main: #dddddd;
    --text-bright: #dddddd;
    --text-muted: var(--muted-color);
    --selection: #30485ed0;
    --focus: var(--accent-color);
    --code: var(--text-main);
}

@mixin theme-dark {
    @include colors-dark;
    @include syntax-dark;

    .hide-in-dark-mode {
        // display: none;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    #theme-switcher .hide-in-dark-mode {
        transition: transform ease-out 0.2s, opacity ease-out 0.1s !important;
        transform: scale(0) !important;
    }

    #spice-canvas {
        opacity: 80%;
    }
}
