---
---

#post-widgets-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;

    list-style: none;
    // li::marker {
    //     // content: ;
    //     display: none;
    // }
}

.post-widget {
    // border: dashed 1px var(--accent-color);
    padding: 1rem;

    > h2 {
        display: inline;
    }

    > div.post-date {
        color: var(--muted-color);
    }

    > p {
        margin: 1rem 0 0 0;
    }
}
