---
---

@import "colors";
@import "theme-rules";

:root {
    --content-horizontal-padding: 2rem;
    --grid-gap: 1rem;
}
    
body {
    margin: var(--grid-gap) auto;
    
    background-color: var(--page-bg-color);
}

header {
    padding: 0 var(--content-horizontal-padding);

    nav > ul {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        gap: 1rem 3rem;
        padding: 0;
        
        > h1, > li {
            font-size: 1.2rem;
            font-weight: 500;
            
            margin: 0;
        }
        
        > h1 {
            background-color: var(--accent-color);
            padding: 0;
        
            > a {
                display: inline-block;
                // height: 100%;
                padding: 5px;

                color: var(--nav-home-link-color) !important;
            }
        }

        > li {
            padding: 5px 0;
            
            > a {
                color: var(--nav-link-color);
                padding: 5px 0;
            }
        }
        
        > li::marker {
            content: "~/";
            color: var(--nav-marker-color);
        }
    }
}

#main-grid {
    display: grid;
    gap: var(--grid-gap);

    // font-family: Roboto;
    font-family: "Noto Serif", serif;

    #content-grid-item {
        // box-shadow: 
        //     -20px 0 0 0px white,
        //     -25px 0 0 0px rgb(74, 153, 255);
        // background-color: var(--content-bg-color);
        padding: 0 var(--content-horizontal-padding);

        // border-bottom: 2px solid var(--page-bg-darker-color);

        h1, h2, h3, h4, h5, h6 {
            font-family: Roboto, sans-serif;
            // text-align: center;
            margin-top: 2.5rem;
        }

        h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
            color: var(--accent-darker-color);
        }

        // h1::before { content: "# "; }
        // h2::before { content: "## "; }
        // h3::before { content: "### "; }

        // a::before {
        //     content: "[";
        // }

        // a::after {
        //     content: "]";
        // }

        // a {
        //     text-decoration: underline;
        //     text-decoration-style: wavy;
            
        // }

        // a:hover {
        //     text-decoration-style: solid;
        // }

        ul {
            line-height: 150%;

            code {
                padding: 1px 3px;
            }
        }
    }

    #nav-header-grid-item/*, #page-date */{
        // background-color: blanchedalmond;
        font-family: "Iosevka Web", monospace;

        display: flex;
        justify-content: space-between;

        #theme-switcher {
            margin: auto 0;
            padding: 12px 12px 8px 12px;

            border-radius: 0;
            fill: var(--text-bright);
        }
    }
}

table {
    thead {
        border-bottom: solid 1px var(--table-border-color);
    }

    tbody {
        tr:nth-child(odd) {
            background-color: var(--tr-0-bg-color);
        }

        tr:nth-child(even) {
            background-color: var(--tr-1-bg-color);
        }
    }

    td, th {
        border-right: dashed 1px var(--table-border-color);
    }

    td:last-child, th:last-child {
        border-right: none;
    }
}

hr {
    border-color: var(--muted-color);
}

#page-title {
    margin-top: 0 !important;
    margin-bottom: 0.2rem;
    text-align: left !important;
}

#page-date {
    color: var(--muted-color);
}

code {
    border-radius: 0;
    font-family: "Iosevka Web", monospace;
    line-height: 130%;
}

blockquote {
    // background-color: var(--qoute-bg-color);
    background-color: var(--background);
}

var {
    font-family: "Iosevka Web", monospace !important;
}

#pre-footer-hr-grid-item {
    padding: 0 var(--content-horizontal-padding);
}

footer {
    border: none;
    padding: 1rem var(--content-horizontal-padding);

    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    gap: 1rem;

    > * {
        text-align: center;
    }
}

#backfire-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 100%;
}

#backfire-canvas.pixelated {
    image-rendering: pixelated;
}

input, button {
    transform: none !important;
}

p {
    margin-block-end: 0em;
}

.muted {
    color: var(--muted-color)
}

@import "mobile";
