---
---

@use "theme-rules" as *;
@use "mobile" as *;

$center-content-vertically: true;

* {
    transition:
        opacity          linear 0.2s,
        background-color linear 0.2s,
        border-color     linear 0.2s,
        color            linear 0.2s,
        scrollbar-color  linear 0.2s;
}

:root {
    --content-horizontal-padding: 2rem;
    --grid-gap: 1rem;

    @if $center-content-vertically {
        min-height: 100vh;
        display: flex;
    }
}

body {
    margin: auto;
    width: 750px;
    max-width: 100%;
    box-sizing: border-box;

    background-color: var(--page-bg-color);
}

header {
    padding: 0 var(--content-horizontal-padding);

    nav > ul {
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 3rem;
        padding: 0;

        a {
            text-decoration: none !important;
        }

        div.shell {
            display: flex;
            align-items: center;
            gap: 1em;
        }

        h1, > li, span.cmd {
            border-radius: var(--border-radius);
            font-size: 1.2rem;
            font-weight: 500;

            margin: 0;

            transition: transform 0.2s ease;
            transform-origin: top left;
        }

        h1 {
            &:hover {
                transform: rotate(5deg);
            }

            background-color: var(--accent-color);
            padding: 0;

            > a {
                display: inline-block;
                padding: 5px;

                color: var(--nav-home-link-color) !important;
                background: none !important;
            }
        }

        > li {
            &::marker {
                content: "~/";
                color: var(--nav-marker-color);
            }
            
            &:has(a:hover) {
                background: var(--accent-color-transparent);
                box-shadow: -25px 0 0 0px var(--accent-color-transparent),
                5px 0 0 0px var(--accent-color-transparent);
                
                // transform: rotate(5deg);
            }
            
            > a {
                color: var(--nav-link-color);
                background: none !important;
                padding: 5px 0;
                margin: auto;
                display: block;
            }
        }

        span.cmd {
            display: none;
        }
    }
}

#main-grid {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    width: 100%;

    @if not $center-content-vertically {
        min-height: 100vh;
    }

    // font-family: Roboto, sans-serif;
    // font-family: "Noto Serif", serif;
    font-family: "Source Serif 4", serif;
    // font-family: "Source Sans 3", serif;
    // font-family: "Mate", serif;

    #content-grid-item {
        // background-color: var(--content-bg-color);
        
        padding: 0 var(--content-horizontal-padding);
        font-size: 1.1em;

        h1, h2, h3, h4, h5, h6 {
            margin-top: 4rem;
            font-family: "Source Sans 3", sans-serif;
            // font-family: "Mate", serif;
        }

        h1 {
            font-size: 1.9em;
        }

        h2 {
            font-size: 1.7em;
        }

        h3, h4, h5, h6 {
            font-size: 1.4em;
        }

        // h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
        //     color: var(--accent-color-darker);
        // }

        // h1::before { content: "# "; }
        // h2::before { content: "## "; }
        // h3::before { content: "### "; }

        ul {
            line-height: 150%;

            code {
                padding: 1px 3px;
            }
        }

        li {
            margin: 5px 0;
        }

        img {
            margin: 2rem auto;
        }

        .comments {
            margin-top: 4rem;
        }
    }

    #nav-header-grid-item/*, #page-date */{
        margin-top: var(--grid-gap);

        font-family: "Iosevka Web", monospace;

        display: flex;
        justify-content: space-between;

        #theme-switcher {
            margin: auto 0;
            padding: 0;
            height: 40px;
            width: 40px;
            box-sizing: content-box;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: var(--border-radius);
            fill: var(--text-bright);

            box-shadow: none;
            
            > span {
                position: relative;
                height: 24px;
                width: 24px;
            }

            svg {
                transition: transform cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s, opacity ease 0.2s;
                transform: scale(0.9);
            }

            &:active svg {
                transform: scale(calc(0.85 * 0.9));
            }
        }
    }

    > * {
        // Avoid child blocks to overflow the grid region
        min-width: 0;
    }
}

footer {
    border: none;
    padding: 3rem var(--content-horizontal-padding);
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 1rem;

    > * {
        text-align: center;
    }

    .copyright-span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;

        .overshifted {
            font-family: "Iosevka Web", monospace;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 0.3em;

            .overshifted-box {
                width: 1em;
                height: 1em;
                display: inline-block;
                background-color: var(--links);
            }
        }
    }
}

ul {
    // list-style: none;

    > li::marker {
        // content: "[ ] ";
        // transform: translateY(-100px);
        // font-family: "Iosevka Web", monospace;
        // font-size: small;
        color: var(--accent-color-darker);
    }
}

ol > li::marker {
    // font-family: "Iosevka Web", monospace;
    color: var(--accent-color-darker);
}

p {
    // text-indent: 0.6rem;
    // text-align: justify;
    text-align-last: left;
}

h2, h3, h4, h5, h6 {
    font-size: xx-large;
}

input, button {
    // transform: none !important;

    &:active, &:active {
        // transform: scale(0.9) !important;
        transform: none !important;
    }
}

table {
    thead {
        border-bottom: solid 2px var(--table-border-color);
    }

    tbody {
        tr:nth-child(odd) {
            background-color: var(--tr-0-bg-color);
        }

        tr:nth-child(even) {
            background-color: var(--tr-1-bg-color);
        }
    }

    td, th {
        border-right: solid 2px var(--table-border-color);
    }

    td:last-child, th:last-child {
        border-right: none;
    }
}

hr {
    border-color: var(--muted-color);
}

figure.highlight {
    margin: 0;
}

code {
    border: 1px solid var(--border);
    border-radius: var(--border-radius);

    padding: 2px 4px !important;

    font-family: "Iosevka Web", monospace;
    font-size: 0.9em;
    line-height: 130%;

    pre {
        font-family: inherit;
    }
}

pre > code {
    // font-size: 0.9em;
    padding: 8px !important;
    // width: 100%;

    &:has(.rouge-table) {
        padding: 0 !important;
    }

    .rouge-table {
        margin: 0;

        tr {
            background: none;
            
            td {
                display: inline-block;

                &.gutter {
                    user-select: none;
                    color: var(--muted-color);
                    border-right: none;
                    background-color: var(--background-darker);
                    opacity: 0.8;

                    padding: 2px 8px 4px 1rem;

                    text-align: right;
                }

                &.code {
                    padding: 2px 4px 4px 8px;
                }
                
                > pre {
                    margin: 0;
                }
            }
        }
    }
}

blockquote {
    background-color: var(--background);
    font-style: normal;
    border-radius: var(--border-radius);
}

var {
    font-family: "Iosevka Web", monospace !important;
}

#page-title {
    margin-top: 1rem !important;
    margin-bottom: 0.2rem;
    // text-align: left !important;
    font-size: 2em;
}

#page-title::before {
    display: none;
}

#page-date {
    color: var(--muted-color);
    // text-align: center;
    margin-bottom: 2.5rem;
}

#post-widgets {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    margin-top: 1rem;

    list-style: none;

    .post-widget {
        // padding: 1rem;
        // border: blue dashed;
        margin-top: 1.2rem;
    
        > h3 {
            display: inline;
        }
    
        // > div.post-date {
        //     color: var(--muted-color);
        // }
    
        > p {
            margin: 0.5rem 0 0 0;
        }
    }

    .post-date {
        color: var(--muted-color);
    }
}

#spice-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 100%;

    pointer-events: none;

    &.pixelated {
        image-rendering: pixelated;
    }
}

#spice-settings.hidden {
    display: none;
}

.muted {
    color: var(--muted-color)
}
