---
layout: default
---

<!DOCTYPE html>
<html data-theme="auto">
    {% include head.html title=page.title %}

    <body>
        <div id="main-grid">
            {% include navbar.html %}
            
            <div id="content-grid-item">
                {% unless page.hide_title %}
                    <h1 id="page-title">{{ page.title }}</h1>
                    <span id="page-date">{{ page.date}}</span>
                    <hr>
                {% endunless %}
                {{ content }}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
